body{
    background: #e6dada;
    background: -webkit-linear-gradient(to right, #afd0d8,#e6dada);
    background: linear-gradient(to right, #afd0d8,#e6dada
    );
}
#roundImage{
    width: 50px;
    height: 50px;
    filter: drop-shadow(10px 5px 5px #000000);
}
#searchBtn{
    background-color: rgb(61, 126, 126);
}
#searchBtn:hover{
    background-color: white;
    color: rgb(61, 126, 126);
}
.nav-item:hover{
    background-color: rgb(61, 126, 126);
}
#Titulo{
    margin: auto;
}